@font-face {
	font-family: "droidserif";
	src: url("fonts/droidserif.eot");
	src: url("fonts/droidserif.eot") format("embedded-opentype"),
		 url("fonts/droidserif.woff2") format("woff2"),
		 url("fonts/droidserif.woff") format("woff"),
		 url("fonts/droidserif.ttf") format("truetype"),
		 url("fonts/droidserif.svg#droidserif") format("svg");
}
html {
	margin-left: calc(100vw - 100%);
}
body {
	background-color: #eae4e4;
	color: #4f4f4d;
	font-family: droidserif, sans-serif;
}
a {
	cursor: pointer;
	text-decoration: none;
}
a:link {
	color: #4f4f4d;
}
a:visited {
	color: #4f4f4d;
}
a:hover {
	color: #e83555;
}
a:active {
	color: #60d0d4;
}
.head-container {
	margin: 100px auto 0px auto;
	width: 1000px;
}
.head-left {
	#background-color: lightgrey;
	box-sizing: border-box;
	float: left;
	font-size: 0.9em;
	font-weight: bold;
	height: 90px;
	width: 36%;
}
.head-left h1 {
	font-size: 2.8em;
	margin: 10px 0px 10px 0px;
}
.head-right {
	#background-color: lightblue;
	box-sizing: border-box;
	float: left;
	font-size: 1.2em;
	font-weight: bold;
	height: 90px;
	padding: 64px 0px 0px 30px;
	width: 64%;
}
.head-right a {
	display: inline;
	margin-right: 36px;
}
.head-right .a-current {
	color: #60d0d4;
}
.head-right .a-current:hover {
	color: #e83555;
}
.head-right .a-current:active {
	color: #60d0d4;
}
.content-container {
	line-height: 2.5em;
	margin: 0px auto;
	min-height: 400px;
	position: relative;
	transition: height 0.5s;
	width: 1000px;
}
.main-container,
.exp-container,
.about-container,
.contacts-container {
	height: 600px;
	opacity: 0;
	position: absolute;
	transition: opacity 1s;
	visibility: hidden;
}
.main-container {
	height: 400px;
	opacity: 1;
	visibility: visible;
}
.exp-container {
	height: 650px;
}
.main-left,
.exp-left {
	#background-color: lightblue;
	box-sizing: border-box;
	float: left;
	padding: 30px 0px 0px 0px;
	width: 36%;
}
.about-one,
.contacts-one {
	padding: 30px 0px 0px 0px;
	text-align: justify;
}
.about-one {
	text-indent: 3em;
}
.about-one a {
	font-weight: bold;
}
.main-right,
.exp-right {
	#background-color: lightgrey;
	box-sizing: border-box;
	float: left;
	height: 400px;
	padding: 10px 0px 0px 30px;
	text-align: justify;
	width: 64%;
}
.main-right h1 {
	font-size: 5em;
	margin: 30px 0px 30px 0px;
}
.exp-right h1 {
	font-size: 2.25em;
	margin: 20px 0px 20px 0px;
}
.footer {
	background-color:#e83555;
	color: #60d0d4;
	display: table;
	height: 70px;
	margin: 0px auto 100px auto;
	width: 1000px;
}
.footer a {
	#border: 1px solid black;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.footer a div {
	display: inline-block;
	vertical-align: middle;
}
.footer a .footer-img {
	background: url("imgs/footer.png") no-repeat;
	height: 40px;
	width: 40px;
}
.footer a .img-skype {
	background-position: 0px 0px;
}
.footer a:first-child:hover .footer-img {
	background-position: -200px 0px;
}
.footer a[href^="skype"]:active .footer-img {
	background-position: -400px 0px;
}
.footer a .img-email {
	background-position: -40px 0px;
}
.footer a:nth-child(2n):hover .footer-img {
	background-position: -240px 0px;
}
.footer a[href^="mailto"]:active .footer-img {
	background-position: -440px -0px;
}
.footer a .img-github {
	background-position: -80px 0px;
}
.footer a:nth-child(3n):hover .footer-img {
	background-position: -280px -0px;
}
.footer a[href^="https://github"]:active .footer-img {
	background-position: -480px -0px;
}
.footer a .img-vkontakte {
	background-position: -120px 0px;
}
.footer a:nth-child(4n):hover .footer-img {
	background-position: -320px 0px;
}
.footer a[href^="https://vk"]:active .footer-img {
	background-position: -520px 0px;
}
.footer a .img-copyright {
	background-position: -160px 0px;
}
.footer a:last-child:hover .footer-img {
	background-position: -360px 0px;
}
.footer a:last-child:active .footer-img {
	background-position: -560px 0px;
}
.footer a:link {
	color: #60d0d4;
}
.footer a:visited {
	color: #60d0d4;
}
.footer a:hover {
	color: #d1c926;
}
.footer a:active {
	color: #4f4f4d;
}
.clearfix::after {
	clear: both;
	content: "";
	display: table;
}
/*
grey:   #4f4f4d
red:    #e83555
blue:   #60d0d4
yellow: #d1c926
*/